bower_components/*

node_modules/*
!node_modules/grunt-contrib-cssmin/

node_modules/grunt-contrib-cssmin/*
!node_modules/grunt-contrib-cssmin/tasks/

node_modules/grunt-contrib-cssmin/tasks/*
!node_modules/grunt-contrib-cssmin/tasks/cssmin.js

.idea
dist/*
.sass-cache/*
.tmp/*

