<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-ng-click="hmlValidationWarningsCtrl.cancel()">&times;</button>
    <h3 class="modal-title">HML Validation Warnings</h3>
</div>
<div class="modal-body">
    <div class="row" data-ng-repeat="warning in hmlValidationWarningsCtrl.warnings"
         data-ng-class="{ 'green-text': warning['miring-result']._severity !== 'fatal' && warning['miring-result']._severity !== 'warning', 'yellow-text': warning['miring-result']._severity === 'warning', 'red-text': warning['miring-result']._severity === 'fatal'">
        <div class="col-md-12">
            <label for="issue" class="control-label">Issue:</label>
            <h5 id="issue">{{ hmlValidationWarningsCtrl.parseWarningDescription(warning['miring-result'].description) }}</h5>
            <label for="solution" class="control-label">Solution:</label>
            <h6 id="solution">{{ warning['miring-result'].solution }}</h6>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="hmlValidationWarningsCtrl.removeFile()">Remove File</button>
    <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="hmlValidationWarningsCtrl.close()">Cancel</button>
</div>