<div class="modal-header">
    <h3 class="modal-title">{{ fileCtrl.title }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h5 class="centered-heading">Upload a valid HML file to begin converting to HL7-Fhir.</h5>
            <input type="file" data-ng-model="file.data" file-select="data" file-loaded="fileCtrl.loaded()"
                   file-error="fileCtrl.error($error)" file-progress="fileCtrl.progress($total, $loaded)" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="fileCtrl.upload()">Upload</button>
    <button type="button" class="btn btn-danger" data-ng-click="fileCtrl.close()">Close</button>
</div>