<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>HML</h4>
        </div>
        <div class="panel-body">
            <div class="row centered-heading">
                <i id="glyphy" class="glyphicon glyphicon-asterisk" /><label for="glyphy">Current HML Version Selected: {{ hmlCtrl.hmlVersion }}</label>
            </div>
            <div class="row centered-heading">
                <button type="button" class="btn btn-link" data-ng-click="hmlCtrl.changeHmlVersion()">Select different version</button>
            </div>
            <div class="form">
                <form name="hmlForm">
                    <div class="form-group" data-ng-class="{ 'has-error': hmlForm.projectName.$invalid && hmlCtrl.formSubmitted }">
                        <label class="control-label">Project Name:</label>
                        <input name="projectName" type="text" class="form-control input-sm" data-ng-model="hmlCtrl.hml.project.name" placeholder="Project Name" required />
                        <div class="help-block" data-ng-show="hmlForm.projectName.$error.required && hmlCtrl.formSubmitted">
                            <small>Project Name Is Required</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger panel-button" data-ng-click="hmlCtrl.cancelHml()">Cancel</button>
                    <button type="button" class="btn btn-info panel-button" data-ng-click="hmlCtrl.createHml(hmlForm)">Create</button>
                </div>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{ 'time-out': 1000 }"></toaster-container>
</div>