<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>HML</h4>
        </div>
        <div class="panel-body">
            <div class="row centered-heading">
                <i id="glyphy" class="glyphicon glyphicon-asterisk" /><label for="glyphy">Current HML Version Selected: {{ hmlCtrl.hmlVersion }}</label>
            </div>
            <div class="row centered-heading">
                <button type="button" class="btn btn-link" data-ng-click="hmlCtrl.changeHmlVersion()">Select different version</button>
            </div>
            <div class="form">

            </div>
        </div>
    </div>
    <toaster-container toaster-options="{ 'time-out': 1000 }"></toaster-container>
</div>