<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="allelesAddEditCtrl.cancel()">&times;</button>
    <h3 class="modal-title">{{ allelesAddEditCtrl.edit ? 'Edit' : 'Add' }} Locus Block</h3>
</div>
<div class="modal-body">
    <toaster-container toaster-options="{ 'close-button': true, 'limit': 1, 'tap-to-dismiss': true, 'toaster-id': 1 }"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ allelesAddEditCtrl.edit ? 'Edit' : 'Add' }} Locus Block</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form name="allelesAddEditCtrl.inputForm">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="allelesAddEditCtrl.add(allelesAddEditCtrl.inputForm)">{{ allelesAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="allelesAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>