<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="referenceSequenceAddEditCtrl.cancel()"></button>
    <h3 class="modal-title">{{ referenceSequenceAddEditCtrl.edit ? 'Edit' : 'Add' }} Reference Sequence</h3>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Reference Sequence</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="referenceSequenceAddEditCtrl.add()">{{ referenceSequenceAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="referenceSequenceAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>