 <div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">{{ hmlIdCtrl.edit ? 'Edit' : 'Add' }} HML ID Information</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <form name="hmlIdCtrl.hmlIdForm">
                                <div class="form-group" data-ng-class="{ 'has-error': hmlIdCtrl.hmlIdForm.rootName.$invalid && hmlIdCtrl.formSubmitted }">
                                    <label class="control-label">Root Name:</label>
                                    <input name="rootName" type="text" class="form-control input-sm" data-ng-model="hmlIdCtrl.hmlId.rootName" placeholder="Root Name" required />
                                    <div class="help-block" data-ng-show="hmlIdCtrl.hmlIdForm.rootName.$error.required && hmlIdCtrl.formSubmitted">
                                        <small>Root Name Is Required</small>
                                    </div>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error': hmlIdCtrl.hmlIdForm.extension.$invalid && hmlIdCtrl.formSubmitted }">
                                    <label class="control-label">Extension:</label>
                                    <input name="extension" type="text" class="form-control input-sm" data-ng-model="hmlIdCtrl.hmlId.extension" placeholder="Extension" required />
                                    <div class="help-block" data-ng-show="hmlIdCtrl.hmlIdForm.extension.$error.required && hmlIdCtrl.formSubmitted">
                                        <small>Extension Is Required</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>