<div class="modal-header">
    <button type="modal" class="close" aria-hidden="true" data-ng-click="hmlIdAddEditCtrl.cancel()">&times;</button>
    <h3 class="modal-title">{{ hmlIdAddEditCtrl.edit ? 'Edit' : 'Add' }} Hml ID</h3>
</div>
<div class="modal-body">
    <toaster-container toaster-options="{ 'close-button': true, 'limit': 1, 'tap-to-dismiss': true, 'toaster-id': 1 }"></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ hmlIdAddEditCtrl.edit ? 'Edit' : 'Add' }} Hml ID Information</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form name="hmlIdAddEditCtrl.inputForm">
                                    <div class="form-group">
                                        <label for="maxQuery" class="control-label">Maximum Query Results:</label>
                                        <select id="maxQuery" data-ng-options="numResults.text for numResults in hmlIdAddEditCtrl.resultsPerPage track by numResults.number"
                                                data-ng-model="hmlIdAddEditCtrl.maxQuery" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error': hmlIdAddEditCtrl.inputForm.hmlId.$invalid && hmlIdAddEditCtrl.formSubmitted }">
                                        <label for="hmlId" class="control-label">Hml ID:</label>
                                        <input id="hmlId" name="hmlId" type="text" class="form-control input-sm" data-ng-model="hmlIdAddEditCtrl.selectedReportingCenterName" placeholder="Reporting Center"
                                               uib-typeahead="hmlId.context for hmlId in hmlIdAddEditCtrl.getHmlIds($viewValue)" data-ng-change="hmlIdAddEditCtrl.hmlIdChange()"
                                               typeahead-on-select="hmlIdAddEditCtrl.selectReportingCenter($item)" autocomplete="off" required />
                                        <div class="help-block" data-ng-show="hmlIdAddEditCtrl.inputForm.hmlId.$error.required && hmlIdAddEditCtrl.formSubmitted">
                                            <small>Please select an Hml ID</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" data-ng-model="hmlIdAddEditCtrl.autoAdd" />
                                        <small>Automatically route to add / edit form on no results</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary modal-footer-button" data-ng-click="hmlIdAddEditCtrl.add(hmlIdAddEditCtrl.inputForm)">{{ hmlIdAddEditCtrl.edit ? 'Edit' : 'Add' }}</button>
            <button type="button" class="btn btn-danger modal-footer-button" data-ng-click="hmlIdAddEditCtrl.close()">Close</button>
        </div>
    </div>
</div>